// COLORS
$green: #61BE99;
$black: #06080A;
$gray-600: #303533;
$gray-500: #585E5B;
$gray-400: #7F8386;
$gray-300: #A6AEAB;
$gray-200: #CED7D3;
$gray-100: #F5FFFB;
$white: #FFFFFF;

// FONTS
$space-grotesk: "Space Grotesk", sans-serif;

@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SpaceGrotesk-Semibold.woff2") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format('woff2');
}

$inter: "Inter", sans-serif;

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter-Medium.woff2") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter-Semibold.woff2") format('woff2');
}

// BREAKPOINTS
$md: 1024px;
$sm: 640px;

// RESETS
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: unset;
  box-sizing: border-box;
  transition: .4s;
  font-family: $space-grotesk;
  color: $white;
}

::selection {
  background: $green;
  color: $black;
}

html,
body {
  background: $black;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
      width: 14px;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .16);
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 1000px;
  }

  figure {
    margin: 0;
  }
}

html {
  overflow-x: hidden;
}

button {
    cursor: pointer;
}

h3 {
  font: 500 48px/1 $space-grotesk;
  letter-spacing: -0.96px;

  @media (max-width: $sm) {
    font: 500 28px/32px $space-grotesk;
    letter-spacing: -0.56px;
  }
}

p {
  
  &,
  & * {
    font: 400 18px/28px $inter;
    color: $gray-400;

    @media (max-width: $sm) {
      font: 400 16px/24px $inter;
    }
  }
}

img {
    display: block;
    max-width: 100%;
}

small {
    display: block;
}

// CONTAINERS
.container {
  max-width: calc(1215px + 128px);
  width: 100%;
  padding: 0 64px;
  margin: 0 auto;

  @media (max-width: $sm) {
    padding: 0 32px;
  }
}

// STYLES
[data-animate] {
  transform: translateY(48px);
  opacity: 0;
  transition: .6s ease-in-out;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 32px 0;
  display: flex;
  align-items: center;
  height: 88px;

  @media (max-width: $md) {
    height: 72px;
  }
  
  &.fixed {
    background: $black;
    height: 64px;

    @media (max-width: $md) {
      height: 48px;

      span {
        display: block !important;
      }

      svg {
        transform: rotate(0) !important;

        #letter {
          opacity: 0;
          visibility: hidden;
        }

        path {
          fill: $green;
        }
      }
    }

    @media (max-width: $sm) {

      button {
         transform: translateX(-4px);
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;

      svg {

        @media (max-width: $md) {
          width: 144px;
          height: 20px;
        }
      }
    }
    
    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      
      @media (min-width: $md) {
        width: 25%;
      }

      svg {

        @media (max-width: $md) {
          transform: rotate(90deg);
        }
      }

      span {
        text-decoration: underline;
        font: 600 16px/20px $inter;
        color: $white;
        letter-spacing: -0.32px;
        white-space: nowrap;

        &:hover {
          color: $green;
        }

        @media (max-width: $md) {
          display: none;
          font: 600 14px/1 $inter;
        }
      }
    }
  }
}

.footer {
  padding: 80px 0 48px 0;

  @media (max-width: $sm) {
    padding: 48px 0 40px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;

    @media (max-width: $sm) {
      flex-direction: column-reverse;
    }

    p {

      @media (max-width: $sm) {
        text-align: center;
      }

      &,
      & * {
        color: rgba(255, 255, 255, .5);
        font: 400 14px/20px $inter;

        strong {
          font-weight: 500;
          color: $white;
        }
      }
    }

    div {
      display: flex;
      gap: 16px;

      @media (max-width: $sm) {
        width: 100%;
        justify-content: space-between;
      }

      a {
        background: #0F1317;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        font: 600 16px/24px $inter;

        &:hover {
          background: $gray-600;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: #0F1317;
        width: 48px;

        &:hover {
          background: $gray-600;
        }
      }
    }
  }
}

.button {
  position: relative;
  padding: 2px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(97, 190, 153, 1) 0%, rgba(255,255,255,.8) 100%);
    border-radius: 8px;
  }

  span {
    height: 64px;
    position: relative;
    z-index: 5;
    color: #000000;
    font: 600 20px/1 $inter;
    background: $green;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: $md) {
      font-size: 16px;
      height: 48px;
      padding: 0 22px;
    }
  }

  &:hover {

    span {
      background: #52a783;      
    }
  }
}

.subtitle {
  font: 500 24px/32px $inter;
  letter-spacing: -0.24px;
  margin: 0 0 32px 0;
  color: $gray-400;

  @media (max-width: $sm) {
    font: 500 18px/26px $inter;
    letter-spacing: -0.36px;
    margin: 0 0 24px 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $green;
  z-index: 999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & > button {
      position: absolute;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: $sm) {
        top: 48px;
      }

      @media (max-width: 330px) {
        top: 24px;
      }
    }

    h3 {
      text-align: center;
      font: 500 32px/36px $space-grotesk;
      letter-spacing: -0.64px;
      margin: 80px 0 40px 0;
      color: $black;

      @media (max-width: $sm) {
        font: 500 26px/32px $space-grotesk;
        letter-spacing: -0.52px;
        margin: 40px 0 32px 0;
      }
    }

    .form {
      max-width: 380px;
      width: 100%;
      margin: 0 auto;

      fieldset {
        position: relative;
        margin: 0 0 16px 0;

        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 16px;
        }

        input {
          width: 100%;
          border-radius: 8px;
          color: $black;
          height: 56px;
          display: flex;
          align-items: center;
          background: $white;
          font: 500 16px/20px $inter;
          padding: 0 24px 0 48px;
  
          &::placeholder {
            opacity: .5;
            color: $black;
          }
        }
      }

      .button {
        width: 100%;
        cursor: pointer;
        background: $black;
        color: $white;
        font: 600 16px/20px $inter;
        border-radius: 8px;
        padding: 18px;
      }
    }

    p {
      color: $white;
      text-align: center;
      max-width: 310px;
      width: 100%;
      margin: 48px auto 0 auto;
      font: 500 14px/20px $inter;
    }
  }
  
  & > svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @media (max-width: $md) {
      display: none;
    }
  }
}

.page {

  &__header {
    padding: 0 0 120px 0;

    @media (max-width: $md) {
      padding: 0;
    }

    &__top {
      position: relative;
    }

    &__text {
      position: relative;
      z-index: 5;
      padding: 175px 0 120px 0;

      @media (max-width: $md) {
        padding-left: 64px;
        padding-right: 64px;
      }

      @media (max-width: $sm) {
        padding: 132px 32px 80px 32px;
      }

      h1 {
        font: 500 72px/1 $space-grotesk;
        letter-spacing: -1.44px;
        margin: 0 0 56px 0;
        max-width: 1120px;
        width: 100%;

        @media (max-width: $md) {
          font-size: 56px;
        }

        @media (max-width: $sm) {
          font: 500 34px/40px $space-grotesk;
          letter-spacing: -0.68px;
          margin: 0 0 32px 0;
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: 48px;

        p {
          display: flex;

          @media (max-width: $md) {
            display: none;
          }
        }
      }

      p {
        display: flex;
        align-items: center;
        gap: 14px;

        @media (min-width: $md) {
          display: none;
        }

        @media (max-width: $md) {
          margin: 0 0 24px 0;
        }

        &,
        & * {
          font: 400 20px/32px $inter;
        }

        strong {
          font-weight: 500;
          color: $white;
        }
      }
    }
  
    &__icons {
      border-top: 1px solid #1F2630;
      border-bottom: 1px solid #1F2630;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $md) {
        border: unset;
      }

      div {
        flex: 1;
        padding: 40px 48px 48px 40px;
        border-right: 1px solid #1F2630;

        @media (max-width: $md) {
          flex: unset;
          width: 50%;
          border-top: 1px solid #1F2630;
        }

        @media (max-width: $sm) {
          padding: 32px;

          svg {
            width: 32px;
            height: 32px;
          }
        }

        &:first-of-type {
          border-left: 1px solid #1F2630;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
          font: 600 20px/32px $space-grotesk;
          letter-spacing: -0.4px;
          margin: 48px 0 8px 0;

          @media (max-width: $sm) {
            margin: 32px 0 8px 0;
            font: 600 16px/14px $space-grotesk;
            letter-spacing: -0.32px;
          }
        }

        p {
          font: 400 16px/24px $inter;

          @media (max-width: $sm) {
            font: 400 14px/22px $inter;
          }
        }
      }
    }

    &__lines {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 1;

      @media (max-width: $md) {
        display: none;
      }

      div {
        position: relative;
        height: 100%;
        width: 1px;
        background: linear-gradient(0deg, rgba(31, 38, 48, 0.00) 0%, #191E26 100%);

        @keyframes bounce1 {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-80px);
          }
          100% {
            transform: translateY(0);
          }
        }

        @keyframes bounce2 {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(160px);
          }
          100% {
            transform: translateY(0);
          }
        }

        &:nth-of-type(2) {

          span {
            bottom: 88px;
            animation: bounce1 5s ease-in-out infinite;
          }
        }

        &:nth-of-type(3) {
          
          span {
            top: 96px;
            animation: bounce2 5s ease-in-out infinite;
          }
        }
      }
    }

    .container {

      @media (max-width: $md) {
        padding: 0;
      }
    }
  }

  &__video {

    .container {

      @media (max-width: $md) {
        padding: 0;
      }

      div {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__metodology {
    padding: 230px 0 0 0;

    @media (max-width: $sm) {
      padding: 96px 0 0 0;
    }

    .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media (max-width: $md) {
        flex-direction: column-reverse;
        gap: 48px;
      }
    }

    &__illust {
      position: relative;

      @media (min-width: $md) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 64px;
      }

      svg {
        max-width: 100%;
        height: auto;
      }

      img {
        position: absolute;
        top: 49.5%;
        left: 50%;
        animation: spin infinite 8s linear;
        max-width: initial;

        @media (max-width: $md) {
          animation: unset;
          transform: translate(-50%, -50%);
        }

        @keyframes spin {
          0% {
            transform: translate(-50%, -50%) rotate(360deg);
          }
          100% {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }

        &:first-of-type {

          @media (max-width: $sm) {
            max-width: 40%;
          }
        }

        &:last-of-type {
          
          @media (max-width: $sm) {
            max-width: calc(100% + 40px);
          }
        }
      }
    }

    &__text {
      max-width: 450px;
      width: 100%;

      @media (max-width: $md) {
        max-width: 100%;
      }

      p {
        margin: 32px 0 0 0;

        @media (max-width: $sm) {
          margin: 16px 0 0 0;
        }
      }
    }
  }

  &__cases {
    padding: 230px 0 0 0;

    @media (max-width: $sm) {
      padding: 112px 0 0 0;
    }

    h3 {
      max-width: 600px;
      width: 100%;
      margin: 0 0 88px 0;

      @media (max-width: $sm) {
        margin: 0 0 48px 0;
        padding: 0 24px 0 0;
      }
    }

    &__marquee {
      overflow: hidden;
      
      &__images {
        display: flex;
        transition: unset;

        &__image {
          min-width: 572px;
          max-width: 572px;
          padding-right: 32px;
          transition: unset;
          object-fit: cover;

          @media (max-width: $sm) {
            min-width: 327px;
            max-width: 327px;
            padding-right: 24px;
          }
        }
      }
    }

    &__bottom {
      margin: 80px 0 0 0;

      @media (max-width: $sm) {
        margin: 48px 0 0 0;
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      svg {
        margin: 8px 0 0 0;

        @media (max-width: $sm) {
          display: none;
        }
      }

      p {
        max-width: 450px;
        width: 100%;
        text-align: right;
        color: $gray-300;

        @media (max-width: $sm) {
          font: 400 14px/22px $inter;
          text-align: left;
        }
      }
    }
  }

  &__modules {
    padding: 230px 0 0 0;
    
    @media (max-width: $sm) {
      padding: 96px 0 0 0;
    }

    .container {
      display: flex;
      justify-content: space-between;

      @media (max-width: $md) {
        flex-direction: column;
        gap: 44px;
      }
    }

    &__title {
      max-width: 435px;
      width: 100%;

      div {
        position: sticky;
        top: 120px;

        @media (max-width: $md) {
          position: relative;
          top: 0;
        }
      }

      h3 {
        margin: 0 0 32px 0;

        @media (max-width: $sm) {
          margin: 0 0 16px 0;
        }
      }

      p {
        display: flex;
        flex-direction: column;

        a {
          text-decoration: underline;
          color: $white;
        }
      }
    }

    &__exps {
      max-width: 590px;
      width: 100%;

      @media (max-width: $md) {
        max-width: 100%;
      }

      dl {
        border-bottom: 1px solid #262626;

        &:first-of-type {
          border-top: 1px solid #262626;
        }

        @media (max-width: $sm) {
          width: calc(100% + 32px);
          margin-left: -16px;
        }

        dt {
          cursor: pointer;
          padding: 32px;
          display: flex;
          align-items: center;
          gap: 24px;

          @media (max-width: $sm) {
            gap: 16px;
            padding: 24px 16px;
          }

          svg {

            @media (max-width: $sm) {
              display: none;
            }
          }

          span {
            flex: 2;
            color: $white;
            font: 600 24px/32px $space-grotesk;
            letter-spacing: -0.48px;

            @media (max-width: $sm) {
              font: 600 20px/32px $space-grotesk;
              letter-spacing: -0.4px;
            }
          }

          p {
            font: 600 12px/1 $inter;
            letter-spacing: -0.12px;
            border: 1px solid $green;
            padding: 6px 9px;
            border-radius: 8px;
            text-transform: uppercase;
            color: $white;

            @media (max-width: $sm) {
              font: 600 10px/1 $inter;
              letter-spacing: -0.1px;
            }
          }

          div {
            position: relative;
            width: 16px;
            margin: 0 8px 0 0;

            @media (max-width: $sm) {
              margin: 0;
            }

            &::before {
              content: "+";
              font: 500 24px/32px $space-grotesk;
              color: $white;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 16px;

              @media (max-width: $sm) {
                font: 600 20px/32px $space-grotesk;
              }
            }
          }

          &.open {

            div {

              &::before {
                content: "-";
              }
            }
          }
        }

        dd {
          max-height: 0;
          overflow: hidden;
          padding-left: 88px;

          @media (max-width: $sm) {
            padding-left: 16px;
          }

          &.open {
            padding-bottom: 48px;
            max-height: 100rem;
            overflow: initial;

            @media (max-width: $sm) {
              padding-bottom: 40px;
            }
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media (max-width: $sm) {
              gap: 12px;
            }

            li {
              display: flex;
              align-items: center;

              p {
                font: 500 18px/24px $inter;

                @media (max-width: $sm) {
                  font: 500 16px/22px $inter;
                }

                &:first-of-type {
                  width: 50px;
                  opacity: .6;
                }

                &:last-of-type {
                  color: $white;
                }
              }

              small {
                font: 500 14px/24px $inter;
                color: $gray-300;
                display: block;
                margin: 0 0 0 8px;

                @media (max-width: $sm) {
                  font: 500 12px/22px $inter;
                }
              }
            }
          }
        }
      }
    }
  }

  &__features {
    padding: 200px 0 0 0;

    @media (max-width: $sm) {
      padding: 96px 0 0 0;
    }

    .container {

      @media (max-width: $sm) {
        padding: 0 16px;
      }

      ul {

        &:first-of-type {

          li {

            @media (max-width: $md) {
              padding-bottom: 0;
            }

            @media (max-width: $sm) {
              padding: 32px 24px 0 24px;
            }

            p {
              max-width: 415px;
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              z-index: 1;
              width: 100%;
              height: 100%;
              border-radius: 12px;
              background: url("../assets/bg-feature.svg") center/cover no-repeat;

              @media (max-width: $sm) {
                background-image: url("../assets/bg-feature-mob.svg");
              }
            }
          }
        }

        &:last-of-type {
          margin: 32px 0 0 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 32px;

          @media (max-width: $md) {
            grid-template-columns: 1fr;
            gap: 24px;
            margin: 24px 0 0 0;
          }

          li {

            @media (max-width: $sm) {
              padding: 32px 24px;
            }

            & > img {
              position: absolute;
              top: 0;
              right: 0;
              z-index: 1;

              @media (max-width: $sm) {
                max-width: 155px;
              }
            }
          }
        }

        li {
          padding: 64px;
          background: #0E1114;
          position: relative;
          border-radius: 12px;

          div {
            position: relative;
            z-index: 5;
          }

          figure {
            position: absolute;
            bottom: 0;
            right: 110px;
            max-width: 480px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            z-index: 5;

            @media (max-width: $md) {
              position: relative;
              right: unset;
              margin: 38px auto 0 auto;
            }

            @media (max-width: $sm) {
              max-width: 256px;

              svg {
                height: auto;
              }
            }

            img {
              position: absolute;
              filter: drop-shadow(0px 20px 50px rgba(14, 17, 20, 0.50));

              @media (max-width: $sm) {
                width: 120px;
              }

              &:first-of-type {
                top: -64px;
                right: -80px;

                @media (max-width: $sm) {
                  right: -32px;
                  top: -80px;
                }
              }

              &:last-of-type {
                top: -16px;
                left: -96px;

                @media (max-width: $sm) {
                  left: -32px;
                  top: -24px;
                }
              }
            }
          }

          h2 {
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 0 0 80px 0;

            @media (max-width: $sm) {
              text-align: center;
              margin: 0 0 64px 0;

              svg {
                width: 32px;
                height: 32px;
              }
            }
          }

          h3 {
            font: 500 40px/46px $space-grotesk;
            letter-spacing: -0.8px;
            margin: 0 0 24px 0;

            @media (max-width: $sm) {
              font: 500 28px/32px $space-grotesk;
              letter-spacing: -0.56px;
              margin: 0 0 16px 0;
            }
          }

          p {
            max-width: 440px;
            width: 100%;
          }
        }
      }
    }
  }

  &__phrase {
    margin: 210px 0 0 0;

    @media (max-width: $sm) {
      margin: 96px 0 0 0;
    }

    .container {
      
      section {
        position: relative;

        h2 {
          position: absolute;
          top: 0;
          left: 0;
          white-space: nowrap;
  
          @media (max-width: $md) {
            margin: 0 0 48px 0;
            position: relative;
          }
        }
  
        h3 {
          max-width: 960px;
          width: 100%;
          margin-left: auto;
          
          p {
            position: relative;
            text-align: right;
            font: 500 96px/1 $space-grotesk;
            letter-spacing: -1.92px;
            color: $green;
  
            @media (max-width: $md) {
              font-size: 64px;
            }
  
            @media (max-width: $sm) {
              font: 500 30px/34px $space-grotesk;
              letter-spacing: -0.56px;
            }
  
            div {
              position: absolute;
              top: 3px;
              right: 0;
              height: 102%;
              width: 100%;
              background: $white;
              mix-blend-mode: color;
            }
          }
        }
      }
    }
  }

  &__teacher {
    padding: 200px 0 0 0;

    @media (max-width: $sm) {
      padding: 96px 0 0 0;
    }

    .container {
      display: flex;
      align-items: flex-start;
      gap: 135px;

      @media (max-width: $md) {
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding: 0 16px;
      }

      & > figure {
        display: flex;
        gap: 40px;

        @media (max-width: $sm) {
          gap: 30px;
        }

        img {
          width: 100%;
          object-fit: cover;
        }

        div {
          padding: 60px 0;
          background: $green;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border-radius: 1000px;
          min-width: 123px;
          max-width: 123px;

          @media (max-width: $sm) {
            min-width: 90px;
            max-width: 90px;
            padding: 44px 0;
          }

          svg {

            @media (max-width: $sm) {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      & > div {
        max-width: 490px;
        width: 100%;

        @media (max-width: $sm) {
          padding: 0 16px;
        }

        h3 {
          margin: 0 0 24px 0;

          @media (max-width: $sm) {
            margin: 0 0 16px 0;
          }
        }

        h4 {
          font: 500 20px/26px $inter;
          margin: 0 0 40px 0;

          @media (max-width: $md) {
            margin: 0 0 24px 0;
            font: 500 16px/23px $inter;
          }
        }

        p {

          a {
            text-decoration: underline;
            color: $white;
          }
        }

        footer {
          margin: 48px 0 0 0;
          
          div {
            display: flex;
            align-items: center;

            figure {
              display: flex;
              align-items: center;
              justify-content: center;
              background: $white;
              border-radius: 8px 0 0 8px;
              min-width: 50px;
              max-width: 50px;
              height: 50px;
              margin: 0 -1px 0 0;
            }

            p {
              font: 500 16px/24px $space-grotesk;
              padding: 12px 24px;
              color: $white;
              border: 1px solid #1F2630;
              border-radius: 0 8px 8px 0;

              @media (max-width: $sm) {
                width: 100%;
              }
            }
          }
        
          & > p {
            max-width: 275px;
            width: 100%;
            font: 500 12px/18px $inter;
            color: #717171;
            margin: 16px 0 0 0;

            @media (max-width: $md) {
              display: none;
            }
          }
        }
      }
    }
  }

  &__certified {
    padding: 200px 0;

    @media (max-width: $sm) {
      padding: 96px 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $md) {
        flex-direction: column;
        gap: 48px;
      }

      div {
        max-width: 490px;
        width: 100%;

        @media (max-width: $md) {
          max-width: 100%;
        }

        h3 {
          margin: 0 0 32px 0;

          @media (max-width: $sm) {
            margin: 0 0 24px 0;
          }
        }
      }

      svg {
        
        @media (max-width: $md) {
          width: 100%;
          max-width: 100%;
          min-width: calc(100% + 24px);
          max-width: calc(100% + 24px);
          height: auto;
        }
      }
    }
  }

  &__letters {
    padding: 200px 0 0 0;
    display: flex;
    align-items: center;
    gap: 200px;
    overflow: hidden;

    @media (max-width: $md) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 200px;
      animation: marquee 16s linear infinite;

      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      li {
        display: flex;
        align-items: center;
        gap: 64px;

        p {
          font: 600 104px/140px $space-grotesk;
          letter-spacing: -2.09px;
          color: $white;
          white-space: nowrap;
        }
      }
    }
  }

  &__questions {
    padding: 200px 0 0 0;

    @media (max-width: $sm) {
      padding: 96px 0 0 0;
    }

    .subtitle {
      margin: 0 0 80px 0;

      @media (max-width: $sm) {
        margin: 0 0 24px 0;
      }
    }

    dl {
      border-bottom: 1px solid #1F2630;

      &:first-of-type {
        border-top: 1px solid #1F2630;

        @media (max-width: $md) {
          border-top: unset;
        }
      }

      dt {
        cursor: pointer;
        padding: 48px 0;
        display: flex;
        align-items: center;

        @media (max-width: $sm) {
          gap: 16px;
          align-items: flex-start;
          padding: 24px 0;
        }

        span {
          min-width: 77px;
          color: $gray-500;
          font: 500 32px/1 $space-grotesk;
          letter-spacing: -0.64px;

          @media (max-width: $md) {
            display: none;
          }
        }

        p {
          flex: 2;
          font: 600 32px/1 $inter;
          letter-spacing: -0.64px;
          color: $white;

          @media (max-width: $sm) {
            font: 600 20px/28px $space-grotesk;
            letter-spacing: -0.4px;
          }
        }

        div {
          width: 20px;

          @media (max-width: $sm) {
            width: 10px;
          }

          &::before {
            content: "+";
            font: 500 32px/1 $space-grotesk;
            color: $gray-500;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: -0.64px;

            @media (max-width: $sm) {
              font: 600 20px/28px $space-grotesk;
              letter-spacing: -4px;
            }
          }
        }

        &.open {

          div {

            &::before {
              content: "-";
              color: $green;
            }
          }
        }
      }

      dd {
        max-height: 0;
        overflow: hidden;
        padding-left: 78px;

        @media (max-width: $md) {
          padding-left: 0;
        }

        &.open {
          padding-bottom: 48px;
          max-height: 100rem;
          overflow: initial;

          @media (max-width: $sm) {
            padding: 0 0 24px 0;
          }
        }

        p {
          max-width: 600px;
          width: 100%;
        }
      }
    }

    footer {
      margin: 80px 0 0 0;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      @media (max-width: $sm) {
        margin: 64px 0 0 0;

        & > svg {
          display: none;
        }
      }

      div {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        max-width: 440px;
        width: 100%;

        p {
          text-align: right;
          margin: 0 0 24px 0;

          @media (max-width: $sm) {
            margin: 0 0 32px 0;
          }

          strong  {
            font-weight: 600;
            display: block;
            color: $white;
          }

          &,
          & * {
            font: 400 18px/26px $inter;

            @media (max-width: $sm) {
              font: 600 16px/24px $inter;
            }
          }
        }

        a {
          background: #0F1317;
          padding: 12px 20px;
          display: flex;
          align-items: center;
          gap: 12px;
          border-radius: 8px;
          font: 600 16px/24px $inter;

          &:hover {
            background: $gray-600;
          }
        }
      }
    }
  }

  &__emphasis {
    padding: 120px 0 0 0;

    @media (max-width: $md) {
    
      .container {
        padding: 0;
      }
    }

    @media (max-width: $sm) {
      padding: 80px 0 0 0;
    }

    &__box {
      position: relative;
      z-index: 5;
      display: flex;
      background: #0E1114;
      border-radius: 12px;

      @media (max-width: $md) {
        display: block;
        border-radius: 0;
      }

      &__left {
        width: 100%;
        padding: 80px;

        @media (max-width: $md) {
          padding: 48px 40px;

          br {
            display: none;
          }
        }

        .subtitle {
          color: $green;

          @media (max-width: $md) {
            text-align: center;
          }
        }

        h3 {

          @media (max-width: $md) {
            text-align: center;
          }
        }

        div {
          margin: 48px 0 0 0;
          display: flex;
          align-items: center;
          gap: 48px;

          @media (max-width: $md) {
            margin: 40px 0 0 0;
            justify-content: center;
          }

          p {
            display: flex;
            align-items: center;
            gap: 14px;
    
            @media (max-width: $md) {
              display: none;
            }
    
            &,
            & * {
              font: 400 20px/32px $inter;
            }
    
            strong {
              font-weight: 500;
              color: $white;
            }
          }
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-bottom: 6px solid $green;
        border-left: 1px solid #1F2630;
        padding: 0 0 0 48px;
        max-width: 305px;
        min-width: 305px;
        width: 100%;

        @media (max-width: $md) {
          max-width: 100%;
          min-width: initial;
          border-left: unset;
          align-items: center;
          border-top: 1px solid #1A1A1A;
          border-bottom: unset;
          padding: 24px 40px 48px 40px;
        }

        h3 {
          font: 600 24px/26px $space-grotesk;
          letter-spacing: -0.48px;
          margin: 50px 0 20px 0;

          @media (max-width: $md) {
            margin: 32px 0 12px 0;
            text-align: center;
          }

          @media (max-width: $sm) {
            font: 600 20px/24px $space-grotesk;
            letter-spacing: -0.4px;
          }
        }

        p {
          max-width: 195px;
          width: 100%;
          font: 400 16px/24px $inter;

          @media (max-width: $md) {
            text-align: center;
            max-width: 315px;
            margin: 0 auto;
          }

          @media (max-width: $sm) {
            font: 500 14px/22px $inter;
          }
        }
      }
    }
  }
}

.confirm {
  height: 100vh;

  .container {
    height: 100%;
  }

  &__container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: $sm) {
      align-items: flex-start;
    }
  
    &__text {
      position: relative;
      z-index: 5;

      @media (max-width: $sm) {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      article {
        flex: 2;

        & > div {
          
          @media (max-width: $sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 32px 0 0 0;
          }
  
          svg  {
  
            &:last-of-type {
  
              @media (min-width: $sm) {
                display: none;
              }
  
              @media (max-width: $md) {
                transform: rotate(90deg);
              }
            }
          }
        }
      }

      h1 {
        font: 500 72px/1 $space-grotesk;
        letter-spacing: -1.44px;
        margin: 72px 0 48px 0;

        @media (max-width: $sm) {
          font: 500 34px/40px $space-grotesk;
          letter-spacing: -0.68px;
          margin: 80px 0 16px 0;
        }
        
        @media (max-width: 330px) {

          br {
            display: none;
          }
        }
      }

      section {
        display: flex;
        align-items: center;
        gap: 32px;
        margin: 0 0 48px 0;

        @media (max-width: $sm) {
          margin: 0 0 32px 0;
        }

        img {
          width: 64px;
          height: 64px;
          object-fit: cover;
          border-radius: 20px;
          
          @media (max-width: $sm) {
            display: none;
          }
        }

        p {
          max-width: 520px;
          width: 100%;

          &,
          & * {
            font: 400 20px/30px $inter;

            @media (max-width: $sm) {
              font: 400 16px/24px $inter;
            }
          }

          a {
            color: $white;
            font-weight: 500;
            text-decoration: underline;
          }
        }
      }

      footer {
        display: flex;
        align-items: center;
        gap: 48px;

        .button {

          span {
            height: 56px;

            @media (max-width: $sm) {
              height: 48px;
            }
          }
        }

        p {
          display: flex;
          align-items: center;
          gap: 14px;
  
          @media (max-width: $md) {
            display: none;
          }
  
          &,
          & * {
            font: 400 20px/32px $inter;
          }
  
          strong {
            font-weight: 500;
            color: $white;
          }
        }
      }

      &__copyright {
        padding: 0 0 32px 0;
        color: rgba(255, 255, 255, .5);

        @media (min-width: $sm) {
          display: none;
        }
  
        &,
        & *{
          font: 500 12px/18px $inter;
        }
  
        strong {
          color: $white;
        }
      }
    }

    &__lines {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 1;

      @media (max-width: $md) {
        display: none;
      }

      div {
        position: relative;
        height: 100%;
        width: 1px;
        background: linear-gradient(0deg, rgba(31, 38, 48, 0.00) 0%, #191E26 100%);

        @keyframes bounce1 {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-80px);
          }
          100% {
            transform: translateY(0);
          }
        }

        @keyframes bounce2 {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(160px);
          }
          100% {
            transform: translateY(0);
          }
        }

        &:nth-of-type(2) {

          span {
            bottom: 88px;
            animation: bounce1 5s ease-in-out infinite;
          }
        }

        &:nth-of-type(3) {
          
          span {
            top: 96px;
            animation: bounce2 5s ease-in-out infinite;
          }
        }
      }
    }

    &__marquee {
      height: 100%;
      width: 25%;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 112px;
      overflow: hidden;
      z-index: 5;

      @media (max-width: $md) {
        display: none;
      }
      
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 112px;
        height: 1143px;
        animation: marqueeVertical 16s linear infinite;

        @keyframes marqueeVertical {
          0% {
            transform: translateY(-100%);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }
}