@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SpaceGrotesk-Semibold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/LibreFranklin-Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/LibreFranklin-Regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/LibreFranklin-Light.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IBMPlexSans-Light.woff2") format("woff2");
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: unset;
  box-sizing: border-box;
  transition: 0.4s;
  font-family: "Space Grotesk", sans-serif;
  color: rgb(255, 255, 255);
}

::-moz-selection {
  background: rgb(137, 243, 99);
  color: rgb(0, 0, 0);
}

::selection {
  background: rgb(137, 243, 99);
  color: rgb(0, 0, 0);
}

html,
body {
  background: rgb(0, 0, 0);
  scroll-behavior: smooth;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 14px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.16);
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 1000px;
}
html figure,
body figure {
  margin: 0;
}

html {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

h3 {
  font: 500 48px/1 "Space Grotesk", sans-serif;
  letter-spacing: -0.96px;
}
@media (max-width: 640px) {
  h3 {
    font: 500 28px/32px "Space Grotesk", sans-serif;
    letter-spacing: -0.56px;
  }
}

p, p * {
  font: 500 18px/28px "Libre Franklin", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 640px) {
  p, p * {
    font: 500 16px/24px "Libre Franklin", sans-serif;
  }
}

img {
  display: block;
  max-width: 100%;
}

small {
  display: block;
}

.container {
  max-width: 1343px;
  width: 100%;
  padding: 0 64px;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .container {
    padding: 0 32px;
  }
}

[data-animate] {
  transform: translateY(48px);
  opacity: 0;
  transition: 0.6s ease-in-out;
}
[data-animate].active {
  transform: translateY(0);
  opacity: 1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 24px 0;
}
@media (max-width: 1024px) {
  .nav {
    padding: 32px 0;
  }
}
.nav.fixed {
  background: rgb(0, 0, 0);
  padding: 24px 0;
}
.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .container a {
  display: block;
}
.nav .container a img {
  height: 24px;
}
@media (max-width: 640px) {
  .nav .container a img {
    height: 20px;
  }
}
.nav .container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .nav .container div {
    width: 25%;
  }
}
@media (max-width: 1024px) {
  .nav .container div img {
    transform: rotate(90deg);
  }
}
.nav .container div p {
  font: 700 16px/20px "DM Sans", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: -0.32px;
}
@media (max-width: 1024px) {
  .nav .container div p {
    display: none;
  }
}

.footer {
  margin: 200px 0 0 0;
  background: rgb(137, 243, 99);
}
@media (max-width: 640px) {
  .footer {
    margin: 96px 0 0 0;
  }
}
.footer * {
  color: rgb(0, 0, 0);
}
.footer .container {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1024px) {
  .footer .container {
    padding: 0;
    gap: 32px;
  }
}
.footer .container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  width: 96px;
  height: 96px;
}
@media (max-width: 1024px) {
  .footer .container button {
    width: 80px;
    height: 133px;
  }
}
.footer .container > div {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer .container > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
.footer .container > div > p {
  font: 400 14px/20px "DM Sans", sans-serif;
  opacity: 0.6;
}
@media (max-width: 1024px) {
  .footer .container > div > p {
    font: 400 12px/18px "DM Sans", sans-serif;
  }
}
.footer .container > div a {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1024px) {
  .footer .container > div a {
    gap: 6px;
  }
}
.footer .container > div a p {
  font: 400 12px/16px "Libre Franklin", sans-serif;
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .footer .container > div a p {
    opacity: 0.6;
  }
}

.button {
  position: relative;
  z-index: 9;
  display: inline-block;
  background: rgb(137, 243, 99);
  border: 1px solid rgb(137, 243, 99);
  box-shadow: 0px 30px 250px 0px rgb(137, 243, 99);
  padding: 18px 32px;
  overflow: hidden;
}
@media (max-width: 640px) {
  .button {
    padding: 14px 24px;
    box-shadow: 0px 4px 150px 0px rgba(137, 243, 99, 0.5);
  }
}
.button:hover div {
  opacity: 1;
  visibility: visible;
}
.button span {
  position: relative;
  z-index: 5;
  color: rgb(0, 0, 0);
  font: 700 18px/20px "Space Grotesk", sans-serif;
  letter-spacing: -0.36px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 640px) {
  .button span {
    font: 700 16px/20px "Space Grotesk", sans-serif;
    letter-spacing: -0.32px;
  }
}
.button div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50%;
  height: 200%;
  background: rgb(255, 255, 255);
  filter: blur(32px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button-flat {
  font: 700 16px/20px "Space Grotesk", sans-serif;
  letter-spacing: -0.32px;
  color: rgb(0, 0, 0);
  background: rgb(137, 243, 99);
  padding: 14px 32px;
  box-shadow: 0px 30px 150px 0px rgba(137, 243, 99, 0.5);
  display: inline-block;
}

.section {
  padding: 200px 0 0 0;
}
@media (max-width: 1024px) {
  .section {
    padding: 96px 0 0 0;
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.video.open {
  opacity: 1;
  visibility: visible;
}
.video button {
  position: absolute;
  top: 48px;
  right: 48px;
}
@media (max-width: 640px) {
  .video button {
    top: 32px;
    right: 32px;
  }
}
.video .container {
  max-width: 1100px;
}
@media (max-width: 640px) {
  .video .container {
    padding: 0;
  }
}
.video .container div {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}
.video .container div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subtitle {
  font: 500 24px/32px "Space Grotesk", sans-serif;
  letter-spacing: -0.72px;
  margin: 0 0 32px 0;
  color: #7F8683;
}
@media (max-width: 640px) {
  .subtitle {
    font: 500 18px/26px "Space Grotesk", sans-serif;
    letter-spacing: -0.54px;
    margin: 0 0 24px 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
@media (max-height: 1024px) {
  .modal {
    padding: 124px 0;
  }
}
.modal .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 640px) {
  .modal .container {
    height: auto;
  }
}
.modal .container > button {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-height: 800px) {
  .modal .container > button {
    top: 40px;
  }
}
.modal .container h3 {
  text-align: center;
  font: 500 32px/36px "Space Grotesk", sans-serif;
  letter-spacing: -0.64px;
  margin: 80px 0 40px 0;
}
@media (max-width: 640px) {
  .modal .container h3 {
    font: 500 28px/32px "Space Grotesk", sans-serif;
  }
  .modal .container h3 br {
    display: none;
  }
}
.modal .container .form {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
}
.modal .container .form fieldset {
  position: relative;
  margin: 0 0 16px 0;
}
.modal .container .form fieldset img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.modal .container .form fieldset input {
  width: 100%;
  color: rgb(0, 0, 0);
  height: 48px;
  display: flex;
  background: rgb(255, 255, 255);
  font: 500 16px/20px "Libre Franklin", sans-serif;
  align-items: center;
  padding: 0 24px 0 48px;
}
.modal .container .form fieldset input::-moz-placeholder {
  opacity: 0.5;
  color: rgb(0, 0, 0);
}
.modal .container .form fieldset input::placeholder {
  opacity: 0.5;
  color: rgb(0, 0, 0);
}
.modal .container .form .button {
  width: 100%;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font: 700 18px/20px "Space Grotesk", sans-serif;
  letter-spacing: -0.36px;
}
@media (max-width: 640px) {
  .modal .container .form .button {
    font: 700 16px/20px "Space Grotesk", sans-serif;
    letter-spacing: -0.32px;
  }
}
.modal .container p {
  text-align: center;
  max-width: 295px;
  width: 100%;
  margin: 48px auto 0 auto;
  font: 500 14px/20px "Libre Franklin", sans-serif;
}

.page__header__top {
  position: relative;
  padding: 148px 0 96px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .page__header__top {
    padding: 84px 0 64px 0;
    flex-direction: column-reverse;
  }
}
.page__header__top__lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
@media (max-width: 1024px) {
  .page__header__top__lines {
    display: none;
  }
}
.page__header__top__lines div {
  position: relative;
  height: 100%;
  width: 1px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(38, 38, 38) 100%);
}
@keyframes bounce1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(160px);
  }
  100% {
    transform: translateY(0);
  }
}
.page__header__top__lines div:nth-of-type(2) span {
  bottom: 88px;
  animation: bounce1 5s ease-in-out infinite;
}
.page__header__top__lines div:nth-of-type(3) span {
  top: 96px;
  animation: bounce2 5s ease-in-out infinite;
}
.page__header__top__lines div span {
  position: absolute;
  left: 0;
  width: 1px;
  height: 48px;
  background: rgb(137, 243, 99);
}
.page__header__top__text {
  position: relative;
  z-index: 5;
  width: 75%;
}
@media (max-width: 1024px) {
  .page__header__top__text {
    margin: 48px 0 0 0;
    padding: 0 64px;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .page__header__top__text {
    padding: 0 32px;
  }
}
.page__header__top__text h6 {
  margin: 0 0 40px 0;
  color: rgb(127, 134, 131);
}
@media (max-width: 640px) {
  .page__header__top__text h6 {
    margin: 0 0 32px 0;
  }
}
.page__header__top__text h6, .page__header__top__text h6 * {
  font: 500 20px/32px "Libre Franklin", sans-serif;
  letter-spacing: -0.4px;
}
@media (max-width: 640px) {
  .page__header__top__text h6, .page__header__top__text h6 * {
    font: 500 16px/1 "Libre Franklin", sans-serif;
    letter-spacing: -0.32px;
  }
}
.page__header__top__text h6 span {
  text-decoration: underline;
}
.page__header__top__text h1 {
  font: 500 72px/1 "Space Grotesk", sans-serif;
  letter-spacing: -1.44px;
  margin: 0 0 24px 0;
  max-width: 640px;
  width: 100%;
}
@media (max-width: 640px) {
  .page__header__top__text h1 {
    font: 500 34px/40px "Space Grotesk", sans-serif;
    letter-spacing: -0.68px;
    margin: 0 0 16px 0;
  }
}
.page__header__top__text p {
  font: 500 20px/30px "Libre Franklin", sans-serif;
  margin: 0 0 40px 0;
  max-width: 560px;
  width: 100%;
}
@media (max-width: 640px) {
  .page__header__top__text p {
    max-width: 100%;
    font: 500 16px/24px "Libre Franklin", sans-serif;
    margin: 0 0 32px 0;
  }
}
.page__header__top__video {
  position: relative;
  z-index: 5;
  width: 25%;
}
@media (max-width: 1024px) {
  .page__header__top__video {
    width: 100%;
  }
}
.page__header__top__video > button {
  position: relative;
  width: 100%;
}
.page__header__top__video > button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 640px) {
  .page__header__top__video > button svg {
    width: 48px;
    height: 48px;
  }
}
.page__header__top__video > button img {
  width: 100%;
  height: 496px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .page__header__top__video > button img:first-of-type {
    display: none;
  }
}
@media (min-width: 1024px) {
  .page__header__top__video > button img:last-of-type {
    display: none;
  }
}
@media (max-width: 1024px) {
  .page__header__top__video > button img {
    height: 320px;
  }
}
@media (max-width: 640px) {
  .page__header__top__video > button img {
    height: 220px;
  }
}
.page__header__icons {
  border-top: 1px solid rgb(38, 38, 38);
  border-bottom: 1px solid rgb(38, 38, 38);
}
@media (max-width: 1024px) {
  .page__header__icons {
    border-bottom: unset;
  }
}
.page__header__icons .container {
  display: flex;
  flex-wrap: wrap;
}
.page__header__icons .container div {
  flex: 1;
  padding: 40px 48px 48px 40px;
  border-right: 1px solid rgb(38, 38, 38);
}
@media (max-width: 1024px) {
  .page__header__icons .container div {
    flex: unset;
    width: 50%;
    border-bottom: 1px solid rgb(38, 38, 38);
  }
}
@media (max-width: 640px) {
  .page__header__icons .container div {
    padding: 32px;
  }
  .page__header__icons .container div svg {
    width: 32px;
    height: 32px;
  }
}
.page__header__icons .container div:first-of-type {
  border-left: 1px solid rgb(38, 38, 38);
}
.page__header__icons .container div h3,
.page__header__icons .container div h4,
.page__header__icons .container div h5,
.page__header__icons .container div h6 {
  font: 600 20px/32px "Space Grotesk", sans-serif;
  letter-spacing: -0.4px;
  margin: 48px 0 8px 0;
}
@media (max-width: 640px) {
  .page__header__icons .container div h3,
  .page__header__icons .container div h4,
  .page__header__icons .container div h5,
  .page__header__icons .container div h6 {
    margin: 32px 0 12px 0;
    font: 600 16px/14px "Space Grotesk", sans-serif;
    letter-spacing: -0.32px;
  }
}
.page__header__icons .container div p {
  font: 500 16px/24px "Libre Franklin", sans-serif;
}
@media (max-width: 640px) {
  .page__header__icons .container div p {
    font: 500 14px/22px "Libre Franklin", sans-serif;
  }
}
@media (max-width: 1024px) {
  .page__header .container {
    padding: 0;
  }
}
.page__cases h2 {
  margin: 0 0 80px 0;
}
@media (max-width: 640px) {
  .page__cases h2 {
    margin: 0 0 32px 0;
  }
}
.page__cases__marquee {
  overflow: hidden;
}
.page__cases__marquee__images {
  display: flex;
  transition: unset;
}
.page__cases__marquee__images__image {
  padding-right: 30px;
  min-width: 450px;
  max-width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: unset;
}
@media (max-width: 640px) {
  .page__cases__marquee__images__image {
    min-width: 214px;
    max-width: 214px;
    padding-right: 16px;
  }
}
.page__metodology {
  padding: 310px 0 340px 0;
}
@media (max-width: 1024px) {
  .page__metodology {
    padding: 96px 0;
  }
}
.page__metodology .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .page__metodology .container {
    flex-direction: column-reverse;
    gap: 48px;
  }
}
.page__metodology__illust {
  position: relative;
  box-shadow: 0px 4px 250px 0px rgba(137, 243, 99, 0.4);
  border-radius: 1000px;
}
@media (max-width: 640px) {
  .page__metodology__illust {
    box-shadow: 0px 4px 200px 0px rgba(137, 243, 99, 0.3);
  }
}
@media (min-width: 1024px) {
  .page__metodology__illust {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 64px;
  }
}
.page__metodology__illust svg {
  max-width: 100%;
  height: auto;
}
.page__metodology__illust img {
  position: absolute;
  top: 49.5%;
  left: 50%;
  animation: spin infinite 8s linear;
  max-width: initial;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}
@media (max-width: 640px) {
  .page__metodology__illust img:first-of-type {
    max-width: 40%;
  }
}
@media (max-width: 640px) {
  .page__metodology__illust img:last-of-type {
    max-width: calc(100% + 40px);
  }
}
.page__metodology__text {
  max-width: 450px;
  width: 100%;
}
@media (max-width: 1024px) {
  .page__metodology__text {
    max-width: 100%;
  }
}
.page__metodology__text p {
  margin: 32px 0 0 0;
}
@media (max-width: 640px) {
  .page__metodology__text p {
    margin: 16px 0 0 0;
  }
}
.page__modules .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .page__modules .container {
    flex-direction: column;
    gap: 44px;
  }
}
.page__modules__title {
  max-width: 365px;
  width: 100%;
}
.page__modules__title div {
  position: sticky;
  top: 120px;
}
@media (max-width: 1024px) {
  .page__modules__title div {
    position: relative;
    top: 0;
  }
}
.page__modules__title h3 {
  margin: 0 0 32px 0;
}
@media (max-width: 640px) {
  .page__modules__title h3 {
    margin: 0 0 16px 0;
  }
}
.page__modules__title p {
  display: flex;
  flex-direction: column;
}
.page__modules__title p a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.page__modules__exps {
  max-width: 590px;
  width: 100%;
}
@media (max-width: 1024px) {
  .page__modules__exps {
    max-width: 100%;
  }
}
.page__modules__exps dl {
  padding: 0 32px;
  border-bottom: 1px solid #262626;
}
.page__modules__exps dl:first-of-type {
  border-top: 1px solid #262626;
}
@media (max-width: 640px) {
  .page__modules__exps dl {
    padding: 0 16px;
    width: calc(100% + 32px);
    transform: translateX(-16px);
  }
}
.page__modules__exps dl dt {
  cursor: pointer;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font: 600 24px/32px "Space Grotesk", sans-serif;
  letter-spacing: -0.48px;
}
@media (max-width: 640px) {
  .page__modules__exps dl dt {
    font: 600 20px/32px "Space Grotesk", sans-serif;
    letter-spacing: -0.4px;
    padding: 24px 0;
    gap: 8px;
  }
}
.page__modules__exps dl dt p {
  color: rgb(137, 243, 99);
  flex: 2;
  font: 600 24px/32px "Space Grotesk", sans-serif;
}
@media (max-width: 640px) {
  .page__modules__exps dl dt p {
    font: 600 20px/32px "Space Grotesk", sans-serif;
  }
}
.page__modules__exps dl dt div {
  position: relative;
}
.page__modules__exps dl dt div::before {
  content: "+";
  font: 500 24px/32px "Space Grotesk", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
}
@media (max-width: 640px) {
  .page__modules__exps dl dt div::before {
    font: 600 20px/32px "Space Grotesk", sans-serif;
  }
}
.page__modules__exps dl dt.open div::before {
  content: "-";
}
.page__modules__exps dl dd {
  max-height: 0;
  overflow: hidden;
}
.page__modules__exps dl dd.open {
  padding: 0 0 48px 0;
  max-height: 100rem;
  overflow: initial;
}
@media (max-width: 640px) {
  .page__modules__exps dl dd.open {
    padding: 0 0 40px 0;
  }
}
.page__modules__exps dl dd ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 640px) {
  .page__modules__exps dl dd ul {
    gap: 12px;
  }
}
.page__modules__exps dl dd ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.page__modules__exps dl dd ul li p {
  font: 500 18px/24px "Libre Franklin", sans-serif;
}
@media (max-width: 640px) {
  .page__modules__exps dl dd ul li p {
    font: 500 16px/22px "Libre Franklin", sans-serif;
  }
}
.page__modules__exps dl dd ul li p:first-of-type {
  padding: 0 16px 0 0;
}
.page__modules__exps dl dd ul li p:last-of-type {
  color: rgb(255, 255, 255);
}
.page__modules__exps dl dd ul li small {
  font: 500 14px/24px "Libre Franklin", sans-serif;
  opacity: 0.6;
}
@media (max-width: 640px) {
  .page__modules__exps dl dd ul li small {
    font: 500 12px/22px "Libre Franklin", sans-serif;
  }
}
.page__features .container ul:last-of-type {
  margin: 32px 0 0 0;
  display: grid;
  grid-template-columns: 695px 1fr;
  gap: 32px;
}
@media (max-width: 1024px) {
  .page__features .container ul:last-of-type {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1024px) {
  .page__features .container ul:first-of-type li {
    padding-bottom: 0;
  }
}
.page__features .container ul li {
  padding: 80px;
  background: #0A0A0A;
  position: relative;
}
@media (max-width: 640px) {
  .page__features .container ul li {
    padding: 40px 32px;
  }
}
.page__features .container ul li figure {
  position: absolute;
  bottom: 0;
  right: 96px;
  max-width: 395px;
  width: 100%;
}
@media (max-width: 1024px) {
  .page__features .container ul li figure {
    position: relative;
    right: unset;
    margin: 52px auto 0 auto;
  }
}
@media (max-width: 640px) {
  .page__features .container ul li figure {
    max-width: 267px;
  }
}
.page__features .container ul li figure img:first-of-type {
  position: absolute;
  top: 0;
  left: -142px;
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.25));
}
@media (max-width: 640px) {
  .page__features .container ul li figure img:first-of-type {
    width: 150px;
    left: -46px;
    top: -16px;
  }
}
.page__features .container ul li figure img:last-of-type {
  position: absolute;
  top: 120px;
  right: -125px;
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.25));
}
@media (max-width: 640px) {
  .page__features .container ul li figure img:last-of-type {
    width: 150px;
    right: -46px;
    top: 16px;
  }
}
.page__features .container ul li figure img:nth-of-type(2) {
  width: 100%;
}
.page__features .container ul li h2 {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 0 48px 0;
}
@media (max-width: 640px) {
  .page__features .container ul li h2 {
    text-align: center;
    margin: 0 0 24px 0;
  }
}
.page__features .container ul li h3 {
  font: 500 40px/46px "Space Grotesk", sans-serif;
  letter-spacing: -0.8px;
  margin: 0 0 24px 0;
}
@media (max-width: 640px) {
  .page__features .container ul li h3 {
    font: 500 28px/32px "Space Grotesk", sans-serif;
    letter-spacing: -0.56px;
    margin: 0 0 16px 0;
  }
}
.page__features .container ul li p {
  max-width: 440px;
  width: 100%;
}
.page__phrase .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .page__phrase .container {
    display: block;
  }
}
.page__phrase .container h2 {
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .page__phrase .container h2 {
    margin: 0 0 48px 0;
  }
}
.page__phrase .container h3 {
  max-width: 960px;
  width: 100%;
}
.page__phrase .container h3 p {
  position: relative;
  text-align: right;
  font: 500 96px/1 "Space Grotesk", sans-serif;
  letter-spacing: -1.92px;
  color: rgb(137, 243, 99);
}
@media (max-width: 1300px) {
  .page__phrase .container h3 p {
    font-size: 90px;
  }
}
@media (max-width: 1024px) {
  .page__phrase .container h3 p {
    font-size: 64px;
  }
}
@media (max-width: 640px) {
  .page__phrase .container h3 p {
    font: 500 28px/32px "Space Grotesk", sans-serif;
    letter-spacing: -0.56px;
  }
}
.page__phrase .container h3 p div {
  position: absolute;
  top: 3px;
  right: 0;
  height: 102%;
  width: 100%;
  background: rgb(255, 255, 255);
  mix-blend-mode: color;
}
.page__teacher .container {
  display: flex;
  gap: 135px;
}
@media (max-width: 1024px) {
  .page__teacher .container {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
.page__teacher .container div {
  max-width: 490px;
  width: 100%;
}
.page__teacher .container div > img {
  border-bottom: 6px solid rgb(137, 243, 99);
  min-height: 625px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .page__teacher .container div > img {
    border: unset;
    height: 360px;
    min-height: initial;
  }
}
.page__teacher .container div h3 {
  margin: 0 0 24px 0;
}
.page__teacher .container div h4 {
  font: 500 20px/26px "Libre Franklin", sans-serif;
  margin: 0 0 40px 0;
}
@media (max-width: 1024px) {
  .page__teacher .container div h4 {
    margin: 0 0 24px 0;
    font: 500 16px/23px "Libre Franklin", sans-serif;
  }
}
.page__teacher .container div p a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.page__teacher .container div footer {
  margin: 48px 0 0 0;
  display: flex;
  align-items: center;
  border: 1px solid #1A1A1A;
}
.page__teacher .container div footer p {
  font: 500 16px/24px "Space Grotesk", sans-serif;
  padding: 12px 28px 12px 24px;
  color: rgb(255, 255, 255);
}
.page__teacher .container div:last-of-type {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .page__teacher .container div:last-of-type {
    padding: 0;
  }
}
.page__certified .container div {
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .page__certified .container div {
    padding: 80px 0 0 0;
    flex-direction: column;
    border-bottom: unset;
    gap: 48px;
  }
}
@media (max-width: 1024px) {
  .page__certified .container div aside {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .page__certified .container div aside .subtitle {
    display: none;
  }
}
.page__certified .container div aside h3 {
  margin: 0 0 32px 0;
}
@media (max-width: 640px) {
  .page__certified .container div aside h3 {
    margin: 0 0 24px 0;
  }
}
.page__certified .container div aside p {
  max-width: 360px;
  width: 100%;
}
@media (max-width: 1024px) {
  .page__certified .container div svg {
    width: 100%;
    max-width: 100%;
    min-width: calc(100% + 32px);
    max-width: calc(100% + 32px);
    height: auto;
  }
}
.page__emphasis {
  border-bottom: 1px solid #262626;
}
@media (max-width: 1024px) {
  .page__emphasis {
    border-bottom: unset;
  }
  .page__emphasis .container {
    padding: 0;
  }
}
.page__emphasis__items {
  overflow: hidden;
}
.page__emphasis__items__cases {
  display: flex;
  transition: unset;
}
.page__emphasis__items__cases__case {
  padding-right: 30px;
  min-width: 450px;
  max-width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: unset;
  filter: saturate(0);
  mix-blend-mode: luminosity;
  opacity: 0.16;
}
@media (max-width: 640px) {
  .page__emphasis__items__cases__case {
    min-width: 214px;
    max-width: 214px;
    padding-right: 16px;
  }
}
.page__emphasis__box {
  position: relative;
  z-index: 5;
  display: flex;
  background: #0A0A0A;
  margin: -220px 0 0 0;
}
@media (max-width: 1024px) {
  .page__emphasis__box {
    margin: 0;
    display: block;
    background: #0F0F0F;
  }
}
.page__emphasis__box__left {
  width: 100%;
  padding: 96px 80px;
}
@media (max-width: 1024px) {
  .page__emphasis__box__left {
    padding: 48px;
  }
  .page__emphasis__box__left br {
    display: none;
  }
}
@media (max-width: 640px) {
  .page__emphasis__box__left {
    padding: 48px 32px;
  }
}
.page__emphasis__box__left div {
  margin: 46px 0 0 0;
  display: flex;
  align-items: center;
  gap: 48px;
}
.page__emphasis__box__left div p {
  color: rgb(127, 134, 131);
}
@media (max-width: 1024px) {
  .page__emphasis__box__left div p {
    display: none;
  }
}
.page__emphasis__box__left div p, .page__emphasis__box__left div p * {
  font: 500 20px/32px "Libre Franklin", sans-serif;
  letter-spacing: -0.4px;
}
@media (max-width: 640px) {
  .page__emphasis__box__left div p, .page__emphasis__box__left div p * {
    font: 500 16px/1 "Libre Franklin", sans-serif;
    letter-spacing: -0.32px;
  }
}
.page__emphasis__box__left div p span {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.page__emphasis__box__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 6px solid rgb(137, 243, 99);
  border-left: 1px solid #1A1A1A;
  padding: 0 0 0 48px;
  max-width: 305px;
  min-width: 305px;
  width: 100%;
}
@media (max-width: 1024px) {
  .page__emphasis__box__right {
    max-width: 100%;
    min-width: initial;
    border-left: unset;
    border-top: 1px solid #1A1A1A;
    border-bottom: unset;
    padding: 32px 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  .page__emphasis__box__right::before {
    content: "";
    width: calc(100% - 96px);
    height: 6px;
    background: rgb(137, 243, 99);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .page__emphasis__box__right svg {
    min-width: 40px;
    max-width: 40px;
  }
}
@media (max-width: 640px) {
  .page__emphasis__box__right {
    align-items: flex-start;
    padding: 32px 32px 42px 32px;
  }
  .page__emphasis__box__right::before {
    width: calc(100% - 64px);
  }
}
.page__emphasis__box__right h3 {
  font: 600 24px/26px "Space Grotesk", sans-serif;
  letter-spacing: -0.48px;
  margin: 64px 0 20px 0;
}
@media (max-width: 1024px) {
  .page__emphasis__box__right h3 {
    margin: 0 0 12px 0;
  }
}
@media (max-width: 640px) {
  .page__emphasis__box__right h3 {
    font: 600 20px/24px "Space Grotesk", sans-serif;
    letter-spacing: -0.4px;
  }
}
.page__emphasis__box__right p {
  max-width: 195px;
  width: 100%;
}
@media (max-width: 1024px) {
  .page__emphasis__box__right p {
    max-width: 100%;
  }
}
@media (max-width: 640px) {
  .page__emphasis__box__right p {
    font: 500 14px/22px "Libre Franklin", sans-serif;
  }
}
.page__questions .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .page__questions .container {
    align-items: flex-start;
    flex-direction: column;
    gap: 48px;
  }
}
.page__questions .container aside {
  position: relative;
  max-width: 800px;
  width: 100%;
}
.page__questions .container aside .swiper-slide {
  height: auto;
  background: rgb(0, 0, 0);
}
.page__questions .container aside .swiper-slide h2 {
  opacity: 0.2;
  margin: 0 0 80px 0;
  font: 500 24px/32px "Space Grotesk", sans-serif;
  letter-spacing: -0.48px;
}
@media (max-width: 640px) {
  .page__questions .container aside .swiper-slide h2 {
    margin: 0 0 40px 0;
    font: 500 20px/1 "Space Grotesk", sans-serif;
    letter-spacing: -0.4px;
  }
}
.page__questions .container aside .swiper-slide h3 {
  margin: 0 0 32px 0;
}
@media (max-width: 640px) {
  .page__questions .container aside .swiper-slide h3 {
    margin: 0 0 16px 0;
    font: 500 26px/34px "Space Grotesk", sans-serif;
  }
}
.page__questions .container aside .swiper-slide p {
  max-width: 590px;
  width: 100%;
}
.page__questions .container aside [data-controls] {
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 9;
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .page__questions .container aside [data-controls] {
    display: none;
  }
}
.page__questions .container aside [data-controls] [data-prev].swiper-button-disabled,
.page__questions .container aside [data-controls] [data-next].swiper-button-disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.page__questions .container aside [data-pagination] {
  display: flex;
  gap: 10px;
  margin: 64px 0 0 0;
}
@media (max-width: 640px) {
  .page__questions .container aside [data-pagination] {
    margin: 32px 0 0 0;
  }
}
.page__questions .container aside [data-pagination] span {
  margin: 0 !important;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  border-radius: 0;
}
.page__questions .container aside [data-pagination] span.swiper-pagination-bullet-active {
  background: rgb(137, 243, 99);
}

@media (max-width: 1024px) {
  .thanks {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
@media (max-width: 1024px) {
  .thanks .nav {
    position: relative;
  }
}
.thanks__main {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  position: relative;
}
@media (max-width: 1024px) {
  .thanks__main {
    flex: 2;
    flex-direction: column;
  }
}
.thanks__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  z-index: 5;
}
@media (max-width: 1024px) {
  .thanks__content {
    position: relative;
    transform: unset;
    top: unset;
    left: unset;
    height: auto;
    flex: 2;
  }
}
.thanks__content .container {
  height: 100%;
}
@media (max-width: 1024px) {
  .thanks__content .container {
    height: auto;
  }
}
.thanks__content .container > div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .thanks__content .container > div {
    height: auto;
  }
}
.thanks__content__lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 745px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
@media (max-width: 1024px) {
  .thanks__content__lines {
    display: none;
  }
}
.thanks__content__lines div {
  position: relative;
  height: 100%;
  width: 1px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(38, 38, 38) 100%);
}
.thanks__content__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
}
.thanks__content__main h6 {
  margin: 0 0 40px 0;
  color: rgb(127, 134, 131);
  text-align: center;
}
@media (max-width: 640px) {
  .thanks__content__main h6 {
    margin: 0 0 32px 0;
  }
}
.thanks__content__main h6, .thanks__content__main h6 * {
  font: 500 20px/32px "Libre Franklin", sans-serif;
  letter-spacing: -0.4px;
}
@media (max-width: 640px) {
  .thanks__content__main h6, .thanks__content__main h6 * {
    font: 500 16px/1 "Libre Franklin", sans-serif;
    letter-spacing: -0.32px;
  }
}
.thanks__content__main h6 span {
  text-decoration: underline;
}
.thanks__content__main h1 {
  text-align: center;
  font: 500 72px/1 "Space Grotesk", sans-serif;
  margin: 0 0 24px 0;
}
@media (max-width: 640px) {
  .thanks__content__main h1 {
    font: 500 34px/40px "Space Grotesk", sans-serif;
    margin: 0 0 16px 0;
  }
  .thanks__content__main h1 br {
    display: none;
  }
}
.thanks__content__main p {
  max-width: 560px;
  width: 100%;
  text-align: center;
  margin: 0 auto 48px auto;
}
@media (max-width: 640px) {
  .thanks__content__main p {
    margin: 0 auto 24px auto;
  }
}
.thanks__content__main p, .thanks__content__main p * {
  font: 500 20px/30px "Libre Franklin", sans-serif;
}
@media (max-width: 640px) {
  .thanks__content__main p, .thanks__content__main p * {
    font: 500 16px/24px "Libre Franklin", sans-serif;
  }
}
.thanks__content__main p a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.thanks__footer {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 30px 0;
}
.thanks__footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .thanks__footer .container {
    flex-direction: column;
    gap: 16px;
  }
}
.thanks__footer .container > p {
  font: 400 14px/20px "DM Sans", sans-serif;
  opacity: 0.6;
}
@media (max-width: 1024px) {
  .thanks__footer .container > p {
    text-align: center;
    font: 400 12px/18px "DM Sans", sans-serif;
  }
}
.thanks__footer .container a {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1024px) {
  .thanks__footer .container a {
    gap: 6px;
  }
}
.thanks__footer .container a p {
  font: 400 12px/16px "Libre Franklin", sans-serif;
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .thanks__footer .container a p {
    opacity: 0.6;
  }
}/*# sourceMappingURL=main.css.map */